#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#include "ui.h"

ICON_ACTIVE_RID ICON "ball.ico"
ICON_INACTIVE_RID ICON "ball-r.ico"

DIALOG_RID DIALOGEX 0, 0, 178, 92
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX |
WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "Trackball Wheel"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
END
